.container{
    display:flex;
    align-items:center;
    justify-content: center;
}
.clock-container {
    width: 50%;
    border-radius: 50%;
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url("https://images.unsplash.com/photo-1546830152-f6cc0b95b7b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDEyfDZzTVZqVExTa2VRfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60");
    background-size: cover;
    overflow: hidden;
}
  
  h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    text-align: center;
    color: white;
  }
  
  .clock {
    display: flex;
  }
  
  .clock div {
    margin: 5px;
    position: relative;
  }
  
  .clock span {
    width: 100px;
    height: 80px;
    background: slateblue;
    opacity: 0.8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .clock .text {
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: darkblue;
    opacity: 0.8;
  }

  .ampmCont {
    width: 60px;
    height: 36px;
    padding: 4px;
  }
  
  #ampm {
    bottom: 0;
    font-size: 36px;
    background: green;
    text-align: center;
    color: white;
    padding: 4px;
  }

@media only screen and (max-width: 800px) {
    .clock {
      display: flex;
      flex-direction: column;
    }
}
